@import '@material/theme/dist/mdc.theme.css';
@import '/imports/stylesheets/common.import.less';
@import '/imports/stylesheets/typography.less';

// HOX https://github.com/jamesmfriedman/rmwc/issues/276
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}

.setModalWidth {
  width: 75vw;
  max-width: 30rem;
}

.hiddenModal {
  height: 0;
}
.FilestackUploadButton {
  background: var(--mdc-theme-primary) !important;
  padding: 12px 24px !important;
  display: inline-block !important;
  border: 1px solid rgba(0,0,0,0.24);
  color: white !important;
  border-radius: 4px !important;
  width: auto !important;
  cursor: pointer;

}
