@import '@material/theme/dist/mdc.theme.css';
@import '/imports/stylesheets/common.import.less';
@import '/imports/stylesheets/typography.less';

// HOX https://github.com/jamesmfriedman/rmwc/issues/276
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}

//
// Misc
//

.centered {
  text-align: center;
}

.Padded4 {
  padding: @pad*4;
}

.ResponseQuestionnaireContainer {

  max-width: 32rem;
  margin: 0 auto;
  padding: @pad*2;

  .mdc-text-field--fullwidth {
    display: block;

    .mdc-notched-outline {
      top: 0;
    }
  }

  .FileUploadContainer {
    button {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: @pad*4;
  }

  h4 {
    margin-bottom: @pad*3;
  }

  h5 {
    margin-bottom: @pad*2;
  }

  p {
    margin-bottom: @pad*2;
  }

  h6 {
    margin-bottom: @pad*2;
  }

  .smallHelp {
    max-width: 21rem;
    margin: 0 auto @pad*3 auto;
  }

  .big {
    font-size: 18px;
    height: auto;
    line-height: 24px;
    padding: @pad*2 @pad*8;
  }

  .topSeparator {
    border-top: 1px solid #ccc;
    padding-top: @pad*4;
    margin-top: @pad*4;
  }

  .topIcon {
    width: 14rem;
    height: auto;
    display: block;
    margin-bottom: @pad*2;

    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.ResponseQuestionnaireContainerPad {
  padding-bottom: 8rem;
}

.ResponseCardDetails,
.ResponseCard {
  padding: @pad*2;
  text-align: left;

  ul {
    margin-bottom: @pad*2;
  }
}

.ResponseCard {
  h6 {
    margin: @pad*2 0 @pad 0;

    &.noMarginTop {
      margin-top: 0;
    }
  }
}

.ResponseCardDetails {
  margin-bottom: @pad*2;
}

.ResponseNavigationButtons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  a {
    background: #25455b;
    color: white;
    display: block;
    padding: @pad*2 @pad*4;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid white;
    border-right: 1px solid white;

    &:first-child {
      border-left: 1px solid white;
    }

    &:hover {
      background-color: #367aa8;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      background-color: #666;
    }

  }

}

